
.navbar {
	min-height       : 8rem;
	background-color : #fdf2e9;

	display          : flex;
	align-items      : center;

	&--fixed {
		position : fixed;
		z-index  : 600;
		inset    : 0 0 auto;
	}


	&__container {
		display         : flex;
		align-items     : center;
		justify-content : space-between;
	}

	&__logo {
		height : 2.4rem;
	}

	&__list {
		list-style  : none;

		display     : flex;
		align-items : center;
		gap         : 4rem;


		@media (max-width : 75em) {
			gap : 3.2rem;
		}

		@media (max-width : 59em) {
			pointer-events   : none;
			visibility       : hidden;
			position         : fixed;
			z-index          : 500;
			inset            : 0;
			background-color : rgba(255, 255, 255, 0.97);
			opacity          : 0;
			transition       : opacity 400ms, transform 400ms;
			transform        : translateX(100%);
			flex-direction   : column;
			justify-content  : center;
			gap              : 4.8rem;
			backdrop-filter  : blur(2px);
		}


		& + .btn .btn-hamburger__icon-close {
			display : none;
		}


		&--open {
			pointer-events : auto;
			visibility     : visible;
			opacity        : 1;
			transition     : opacity 400ms, transform 400ms;
			transform      : translateX(0%);


			& + .btn .btn-hamburger__icon-close {
				display : block;
			}

			& + .btn .btn-hamburger__icon-menu {
				display : none;
			}
		}


	}

	&__link {
		&,
		&:link,
		&:visited {
			font-size       : 1.8rem;
			font-weight     : 500;
			text-decoration : none;
			color           : #333333;
			transition      : color 0.2s;

			@media (max-width : 59em) {
				font-size : 2.4rem;
			}
		}

		&:hover,
		&:active,
		&:focus-visible {
			color : #cf711f;
		}

		&.btn {
			color : #ffffff;
		}
	}
}